In [1]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[int(input("Enter the value: ")) for i in range(10)]
a

In [ ]:
a=list(int(input("Enter the value: ")) for i in range(2))
a

In [3]:
data = [1,2,2,24,45,60,61,62,43,3]
a=list(i for i in data if i%2==0)
a

[2, 2, 24, 60, 62]

In [5]:
data=['Apple','Ball','Cat','Dog']
a=list(i for i in data if i[0].isupper())
a

['Apple', 'Ball', 'Cat', 'Dog']

In [6]:
data = {i:i**2 for i in range(1,11)}
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
data=['Apple','Ball','Cat','Dog']
data = {i:i.lower() for i in a }
data
list(data.values())#changing dict into list

['apple', 'ball', 'cat', 'dog']

In [12]:
import datetime
x=datetime.datetime.now()
x

datetime.datetime(2022, 12, 4, 16, 57, 34, 178290)

In [14]:
import datetime
x=datetime.datetime.now()
print(x.strftime('%c'))

Sun Dec  4 16:58:52 2022

In [16]:
import datetime

x=datetime.datetime.now()
name=input('Enter name=')
y=datetime.datetime.now()
print(y-x)

Enter name=DAvid
0:00:02.785198

In [19]:
#to read excel file not csv file :
import pandas as pd 
df = pd.read_excel('Book1.xlsx')
df

     Ram  ktm
0  hari   pkr
1  shyam  btw

In [21]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'Book1.xlsx',
 'boooks.csv',
 'comphresion list and dict.ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'daves.csv',
 'daves.txt',
 'david.ipynb',
 'first_class.ipynb',
 'flim.csv',
 'housing.csv',
 'list_data.csv',
 'loop.ipynb',
 'merolagani.csv',
 'New Microsoft Access Database.accdb',
 'new_data.csv',
 'Pandas.ipynb',
 'Untitled.ipynb',
 'web scrabing12.ipynb',
 'web scrap11.ipynb',
 'Web Scraping.ipynb',
 'web scraping13.ipynb']

In [22]:
os.mkdir('New Folder')

In [30]:
os.chdir('New Folder')

In [25]:
pwd

'C:\\Users\\Administrator\\Desktop\\David\\New Folder'

In [29]:
cd ..

C:\Users\Administrator\Desktop

In [ ]:
class Bank_record:
    def setName(self,name):
        self.name=name
    def getName(self):
        return self.name
    def setAddress(self,address):
        self.address=address
    def getAddress(self):
        return self.address
    def setAge(self,age):
        self.age=age
    def getAge(self):
        return self.age
    def setSalary(self,salary):
        self.salary=salary
    def getSalary(self):
        return self.salary
n=int(input('Enter the number of employee in bank: '))
employee=[]
c=Bank_record()
for i in range(n):
    
    name=input('Enter the name of employee: ')
    age=input('Enter the age of employee: ')
    address=input('Enter the address of employee: ')
    salary=input('Enter the salary of employee: ')
    c.setName(name)
    c.setAge(age)
    c.setAddress(address)
    c.setSalary(salary)
    employee.append(c)
for c in employee:
    print('Hello:', c.getName())
    print('Your age is:', c.getAge())
    print('Your address is:', c.getAddress())
    print('Your salary is:', c.getSalary())
    print()

In [3]:
list=["ram",2,3,4,45,33,6,67,"Shyam",22,7,65,55,334,5,"hari",6,63,"Shyam",6]
list_1=[i for i in list if i%2==0]
list_1

TypeError: not all arguments converted during string formatting