In [5]:
a = 10
b = 11.5
c = 'Hello World'
d = True

In [7]:
print(a)
print(b)
print(c)
print(d)

print(a,b,c,d)

10
11.5
Hello World
True
10 11.5 Hello World True

In [10]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [12]:
# + - * / % ** //

In [22]:
a = 10
b = 3
c = a % b
print(c)

1

In [24]:
a = 10
b = 2
c = a ** b
print(c)

100

In [25]:
a = 10
b = 3
c = a // b
print(c)

3

In [26]:
a = '10'
b = '3'
print(a+b)

103

In [34]:
a = "Hello"
b = " World"
c = a+b
print(c)

Hello World

In [32]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [38]:
a = "Messi "
b = '10'
c = a+b
c

'Messi 10'

In [39]:
a = True
b = False
c = a+b
print(c)

1

In [40]:
a = True
b = True
c = a+b
print(c)

2

In [41]:
a = 1+2j
a

(1+2j)

In [45]:
(0+1j)*(0+1j)

(-1+0j)

In [48]:
# Type casting
# str() int() float()
a = 10
b = str(a)
b

'10'

In [49]:
a = '20'
int(a)

20

In [50]:
a = '20.5'
float(a)

20.5

In [52]:
# basic i/o

In [55]:
a = input()
print(a)

ads
ads

In [ ]:
a = input("Enter a = ")
print(a)

In [1]:
a = input("Enter a = ")
b = input("Enter b = ")
print(a+b)

Enter a = 10
Enter b = 20
1020

In [2]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
print(a+b)

Enter a = 10
Enter b = 20
30

In [3]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100
print("The value of i = ",i)

Enter p = 10000
Enter t = 3.5
Enter r = 10.4
The value of i =  3640.0

In [1]:
# functions
#predefined 
#user-defined functions

In [3]:
#user-defined functions
#def<funtion_name>():
#   <operations>
#function_name()

In [ ]:
def cal():
    l=int(input("enter the value of l :")) #local varable
    b=int(input("enter the value of b :"))
    a=l*b
    print(a)
cal()

In [ ]:
def cal():
    a=l*b
    print(a)
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :"))    
cal()

In [ ]:
# argument return type
#function without argument and no return type
#function without argument and  return type
#function with argument and no return type
#function with argument and return type

In [ ]:
#function with argument and no return type

def cal(l,b):  #parameter
    a=l*b
    print(a)
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :"))    
cal(l,b) #arguments

In [2]:
#function with argument and no return type

def area(l,b):  #parameter
    a=l*b
    print(a)
def volume(l,b,h) :
    v=l*b*h
    print(v)
    
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :")) 
h=int(input("enter the value of h :")) #global variable

volume(l,b,h)
area(l,b)#arguments

enter the value of l :2
enter the value of b :2
enter the value of h :2
8
4

In [5]:
#function with argument and no return type

def langauge(lan = "python"):
    print(lan)
langauge("c") 
langauge("c++")    
langauge("java")    
langauge("c")
langauge()

c
c++
java
c
python

In [3]:
# return type function

def hello():
    return"Hello"
hello()

'Hello'

In [7]:
def hello():
    return"David"
x = hello()
print(x+" Bhandari")

David Bhandari

In [1]:
#function with argument and return type
def area(x,y):  #parameter
    a=x*y
    return a
    
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :")) 
h=int(input("enter the value of h :")) #global variable

ar = area(l,b)
v = ar*h
print("volume is v= :",v)

enter the value of l :2
enter the value of b :2
enter the value of h :2
volume is v= : 8

In [ ]:
def area(x,y):  #parameter
    a=x*y
    return a
    
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :")) 
h=int(input("enter the value of h :")) #global variable

ar = area(l,b)
v = ar*h
print("volume is v= :",v)

In [ ]:
def cal(x,y,z):  #parameter
    a=x*y
    v=a*z
    return a,v
    
l=int(input("enter the value of l :")) #global variable
b=int(input("enter the value of b :")) 
h=int(input("enter the value of h :")) #global variable

av=cal(l,b,h)
print(av)

In [ ]:
area,volume=av
print(area,volume)

In [1]:
a=(10,20,30)
print(a)

(10, 20, 30)

In [ ]:
def hello():
    print("hello")
    hello()
    
hello()

In [ ]:
def cal():
    p=int(input("enter the value of p="))
    t=int(input("enter the value of t="))
    r=int(input("enter the value of r="))
    i=p*t*r/100
    print(i)
    x = input("press enter for more cal")
    if x== "":
        cal()
cal()

In [1]:
हस्पीटल को वेडवाट कस्लाइ धम्की दिएको कमरेड

SyntaxError: invalid syntax (2258122390.py, line 1)

In [6]:
#string
a="Hello World"
b='Hello World'
c='''Hello World'''
print(a,b,c)
for i in a:
    print(i)

Hello World Hello World Hello World
H
He
el
ll
lo
o
 W
Wo
or
rl
ld
d

In [8]:
 print(i,end  ="")

d

In [11]:
a= "Hello World"
a[0]

'H'

In [13]:
a[0:8]

'Hello Wo'

In [17]:
a[0:8:2]

'HloW'

In [19]:
a= "Hello World"
a=len(a)
a

11

In [4]:
a="252"
if a==a[-1::-1]:
    print("the number is pallandrome:")
else:
    print("Not")
print(a[-1::-1])

the number is pallandrome:
252

In [8]:
name= "Ram"
age= 23
add= "Kathmandu"
info = "Hello World I am "+name+" from "+add+" i am of age "+str(age)
+

In [1]:
#string format
n=int(input("Enter the number of product:"))
for i in range(n):
    name=input("Enter the name of product:")
    price=int(input("Enter the price of product:"))
    quantity=int(input("Enter quantity of product:"))
    total=price*quantity
    bill=bill+f"{name} {price} {quantity} {total}\n"
    s=s+total
print("all total =",s) 
print(bill)

Enter the number of product:2
Enter the name of product:da
Enter the price of product:200
Enter quantity of product:2

NameError: name 'bill' is not defined

In [2]:
a="Ram Shyam Hari Sita Shitu Manoj Handsome"
if"Ram" in a:
    print("There is Ram")
else:
    print("No")

There is Ram

In [ ]:
a="Ram Shyam Hari Sita Shitu Manoj Handsome"
b=input("Enter name for search:")

if b in a:
    print("yes there is :",b)
else:
    print("No")

In [2]:
a="Ram Shyam Hari Sita Shitu Manoj Handsome"
print(a)
print(a.lower())
print(a.upper())

Ram Shyam Hari Sita Shitu Manoj Handsome
ram shyam hari sita shitu manoj handsome
RAM SHYAM HARI SITA SHITU MANOJ HANDSOME

In [ ]:
a="Ram Shyam Hari Sita Shitu Manoj Handsome".upper()
b=input("Enter name for search:").upper()

if b in a:
    print("yes there is :",b)
else:
    print("No")

In [8]:
#replace
a="Ram Shyam Hari Sita Shitu Manoj Handsome"
a.replace("Ram","Sita")

'Sita Shyam Hari Sita Shitu Manoj Handsome'

In [1]:
a='Sita Shyam Hari Sita Shitu Manoj Handsome'
a.replace("Sita","Ram")

'Ram Shyam Hari Ram Shitu Manoj Handsome'

In [2]:
#Python Collection

#List
#tuple
#dict
#set

In [3]:
list
-indexig
-ordered
-multiple and duplicate value
-mutable

SyntaxError: invalid syntax (2959421854.py, line 4)

In [5]:
a= ["Apple","Ball","Cat"]
print(a)

['Apple', 'Ball', 'Cat']

In [7]:
#indexing
a= ["Apple","Ball","Cat"]
print(a[2])

Cat

In [8]:
a= ["Apple","Ball","Cat"]
b= ["Apple","Ball","Cat"]
c=a+b
print(c)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [10]:
a= ["Apple","Ball","Cat"]
print(a*3)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [12]:
#creating list 
n= int(input("Enter the value of n:"))
l=[]
for i in range (n):
    x= int(input("Enter the value of x"))
    l=l+[x]
print(l)

Enter the value of n:2
Enter the value of x2
Enter the value of x2
[2, 2]

In [2]:
print("The maximum value =",max[l]")
print("The minimum value =",min[l]")

print("The sum of all  value =",sum[l]")
l.sort()
print(l)
l.reverse()
print(l)

SyntaxError: EOL while scanning string literal (2120399152.py, line 1)

In [7]:
a= ["Apple","zebra","Ball","Cat"]
for i in a:
    print(i)
a.sort()
print(a)

Apple
zebra
Ball
Cat
['Apple', 'Ball', 'Cat', 'zebra']

In [12]:
a= ["Apple","zebra","Ball","Cat"]
print("The length of a is:",len(a))
if "Apple" in a:
    print("yes", a.count("Apple"))
else:
    print("No")

The length of a is: 4
yes 1

In [13]:
# function use in List
#append() insert() extend()
#delete, del remove() ,pop()

In [15]:
a= ["Apple","zebra","Ball","Cat"]
a.append("Yak")
print(a)

['Apple', 'zebra', 'Ball', 'Cat', 'Yak']

In [17]:
# value in your choice count
a= ["Apple","zebra","Ball","Cat"]
a.insert(2,"Yak")
print(a)

['Apple', 'zebra', 'Yak', 'Ball', 'Cat']

In [19]:
a= ["Apple","zebra","Ball","Cat"]
b= ["Apple","zebra","Ball","Cat"]

a.extend(b)
print(a)

['Apple', 'zebra', 'Ball', 'Cat', 'Apple', 'zebra', 'Ball', 'Cat']

In [24]:
a= ["Apple","zebra","Ball","Cat"]
del a[0]
print(a)

['zebra', 'Ball', 'Cat']

In [26]:
a= ["Apple","zebra","Ball","Cat"]
a.remove("Ball")
print(a)

['Apple', 'zebra', 'Cat']

In [28]:
#pop()
a= ["Apple","zebra","Ball","Cat"]
b=a.pop(1)
print(a)
print(b)

['Apple', 'Ball', 'Cat']
zebra

In [30]:
#For multiple deletion
a= ["Apple","zebra","Ball","Cat"]
del a[0:2]
print(a)

['Ball', 'Cat']

In [35]:
#For multiple deletion using remove 
a= ["Apple","zebra","Ball","Cat","Ball"]
c=a.count("Ball")
for i in range(c):
    a.remove("Ball")
print(a)

['Apple', 'zebra', 'Cat']

In [37]:
a= ["Apple","zebra","Ball","Cat","Ball"]
a.index("Ball")

2

In [38]:
a= ["Apple","zebra","Ball","Cat","Ball"]
a.index("Ball")

2

In [2]:
#list inside list(nested list)
a=[[1,2,3],[2,3,4],[5,6,7]]

In [7]:
a=[["ram",10,"butwal"],["hari",20,"pokhara"],["shyam",40,"palpa"]]
a[1][2]

'pokhara'

In [1]:
data=[]
n=int(input("Enter the value ofn :"))
for i in range(n):
    
    na=input("Enter the name of person:")
        
    a=input("Enter the Address:")
    b= [na,a]
    data.append(b)
print(data)

Enter the value ofn :1
Enter the name of person:jj
Enter the Address:hh
[['jj', 'hh']]

In [ ]:
a=[["ram",10,"butwal"],["hari",20,"pokhara"],["shyam",40,"palpa"]]
x.append(["sita,23,bara"])
x

In [3]:
a=[["ram",10,"butwal"],["hari",20,"pokhara"],["shyam",40,"palpa"]]
a.append(["sita,23,bara"])
print(a)

[['ram', 10, 'butwal'], ['hari', 20, 'pokhara'], ['shyam', 40, 'palpa'], ['sita,23,bara']]

In [2]:
a=[['ram', 10, 'butwal'], ['hari', 20, 'pokhara'], ['shyam', 40, 'palpa'], ['sita,23,bara']]
search= input("Enter name =")
for i in x:
    if search in i:
        print(i)

Enter name =ram

NameError: name 'x' is not defined

In [5]:
x=[['ram', 10, 'butwal'], ['hari', 20, 'pokhara'], ['shyam', 40, 'palpa'], ['sita,23,bara']]
search= input("Enter name =")
for i in x:
    if search in i:
        x.remove(i)
print(x)

Enter name =hdgsjh
[['ram', 10, 'butwal'], ['hari', 20, 'pokhara'], ['shyam', 40, 'palpa'], ['sita,23,bara']]

In [8]:
x=[['ram', 10, 'butwal'], ['ram', 20, 'pokhara'], ['shyam', 40, 'palpa'], ['sita,23,bara']]
l=len(x)
search= input("Enter name =")
for i in range(l):
    if search in x[i]:
        
        print(i)

IndentationError: expected an indented block (2184897427.py, line 7)

In [7]:
a="apple 300 2 600 \n Banana 100 3 300"
x=a.split("\n")
print(x)
data=[]
for i in x:
    y=i.split()
    data.append(y)
print(data)

['apple 300 2 600 ', ' Banana 100 3 300']
[['apple', '300', '2', '600'], ['Banana', '100', '3', '300']]

In [9]:
#Tuple
#imutable
a=(1,2,3,45,5,6,78,8)
b=list(a)
b

[1, 2, 3, 45, 5, 6, 78, 8]

In [ ]:
matrix=[]
r=int(input("Enter the no. of row"))
c=int(input("Enter the no. of column"))
for i in range(r):
    a=[]
    for j in range(c):
        k=input("Enter the element of matrix :")
        a.append(k)
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j], end=" ")
    print()

In [ ]:
matrix=[]
r=int(input("Enter the no. of row"))
c=int(input("Enter the no. of column"))
for i in range(r):
    a=[]
    for j in range(c):
        k=input("Enter the element of matrix :")
        a.append(k)
    matrix.append(a)
    print(matrix) 
    print()

In [ ]:
#dictionary
#index
#Multiple and duplicate value
#ordered
#mutable

In [4]:
#d={<key>:<value>,<key>:<value>,...}
d={"a":"apple","b":"Ball","c":"Cat"}
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
d={"a":"apple","b":"Ball","c":"Cat"}
print(d["a"])

apple

In [11]:
d={"a":"apple","b":"Ball","a":"Cat"}
print(d)

{'a': 'Cat', 'b': 'Ball'}

In [14]:
d={}
d["a"]="Apple"
d["b"]="Ball"
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [ ]:
d={}
n=int(input("Enter the value of n"))
for i in range(n):
    name=input("Enter the name of Person:")
    Phone_no=int(input("Enter the phn of Person:"))
    d[name] = Phone_no
print(d)

In [3]:
d={"a":"apple","b":"Ball","c":"Cat"}
for i in d.items():
    print(i)

('a', 'apple')
('b', 'Ball')
('c', 'Cat')

In [4]:
l=[]
d={"a":"apple","b":"Ball","c":"Cat"}
for i in d.items():
    l.append(i)
print(l)
dict(l)

[('a', 'apple'), ('b', 'Ball'), ('c', 'Cat')]

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
# no + *
d={"a":"apple","b":"Ball","c":"Cat"}
a={"k":"apple"}
d.update(a)
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'k': 'apple'}

In [13]:
#list inside dictionary
d={"a":["apple","Ant"],"b":["Ball","Banana"],"c":["Cat","Cow"]}
print(d)

{'a': ['apple', 'Ant'], 'b': ['Ball', 'Banana'], 'c': ['Cat', 'Cow']}

In [ ]:
d={}
n=int(input("Enter the value of n:"))
for i in range(n):
    name=input("Enter the name of student:")
    NTC=int(input("Enter the number of ntc:"))
    NCELL=int(input("Enter the Ncell number"))
    d[name]=[NTC,NCELL]
print(d)

In [ ]:
d={"name":[],"age":[],"address":[]}
n=int(input("Enter the value of n:"))
for i in range(n):
    
    name=input("Enter the name of student:")
    age=int(input("Enter the number of ntc:"))
    address=(input("Enter the Ncell number"))
    d["name"].append(name)
    d["age"].append(age)
    d["address"].append(address)
    
print(d)

In [5]:
d={'a': ['apple', 'Ant'], 'b': ['Ball', 'Banana'], 'c': ['Cat', 'Cow']}
del d["a"][0]
del d["b"][0]

del d["c"][0]

d

{'a': ['Ant'], 'b': ['Banana'], 'c': ['Cow']}

In [8]:
d={'a': ['apple', 'Ant'], 'b': ['Ball', 'Banana'], 'c': ['Cat', 'Cow']}
d["c"][0]="Camel"
d

{'a': ['apple', 'Ant'], 'b': ['Ball', 'Banana'], 'c': ['Camel', 'Cow']}

In [ ]:
#dict inside list inside dict
l=[]
n=int(input("Enter the number :"))
for i in range(n):
    d={"name":[],"age":[],"address":[]}

    name=(input("Enter the name :"))
    age=int(input("Enter the age :"))
    address=(input("Enter the adress :"))
    d["name"]=(name)
    d["age"]=(age)
    d["address"]=(address)
    
    l.append(d)
print(l)

In [2]:
data={}
n =int(input ("Enter the value of n:"))
for i in range(1,n+1):
    name=(input("Enter the name :"))
    age=int(input("Enter the age :"))
    add=(input("Enter the adress :"))
    info={"name":name,"age":age,"add":add}
    data[i]=info
print(data)

Enter the value of n:2
Enter the name :ram
Enter the age :22
Enter the adress :grtf
Enter the name :er
Enter the age :00
Enter the adress :rfg
{1: {'name': 'ram', 'age': 22, 'add': 'grtf'}, 2: {'name': 'er', 'age': 0, 'add': 'rfg'}}

In [3]:
#dict inside dict inside dict

In [4]:
#set
#no indexing
#un orderd
#multiple but no duplicate
#mutable

In [3]:
s={100,200,300,"ram"}
print(s)

{200, 'ram', 100, 300}

In [11]:
d={'name': "{ram,100,20}", 'age': 0, 'add': 'rfg'}
print(d)

{'name': '{ram,100,20}', 'age': 0, 'add': 'rfg'}

In [16]:
s={"ram",100,20}
d={100,200,300,"ram"}
s.union(d)

{100, 20, 200, 300, 'ram'}

In [ ]:
#File
b=open("<file name>","<mode>"")
b.close()

with open("<file_name",<mode>) as f:
       
       <operation>

modes
       r-> read
       x-> create
       w-> write
       a-> append

In [3]:
try:
    
    b=open("data.txt","x")
    b.close()
except:
    print("The file is already there")

The file is already there

In [14]:
file = open("data.txt","r")
x = file.read()
print(x)
print(type(x))
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
<class 'str'>

In [17]:
file = open("data.txt","w")
x = file.write("Hello World")
print(x)

file.close()

11

In [22]:
s=0
n=int(input("Enter the number of product:"))
bill=str()
for i in range(n):
    name=input("Enter the name of product:")
    price=int(input("Enter the price of product:"))
    quantity=int(input("Enter quantity of product:"))
    total=price*quantity
    bill=bill+f"{name} {price} {quantity} {total}\n"
    s=s+total
print(bill)
    
    
file = open("bill.txt","w")
x = file.write(bill)


file.close()

Enter the number of product:1
Enter the name of product:efw
Enter the price of product:5
Enter quantity of product:5
efw 5 5 25

In [1]:
s=0
n=int(input("Enter the number of product:"))
bill=str()
for i in range(n):
    name=input("Enter the name of product:")
    price=int(input("Enter the price of product:"))
    quantity=int(input("Enter quantity of product:"))
    total=price*quantity
    bill=bill+f"{name} ,{price} ,{quantity} ,{total}\n"
    s=s+total
print(bill)
    
    
file = open("bill.csv","w")
file.write("name,price,quantity,total\n")
x = file.write(bill)


file.close()

Enter the number of product:2
Enter the name of product:Apple
Enter the price of product:100
Enter quantity of product:2
Enter the name of product:Grapes
Enter the price of product:200
Enter quantity of product:3
Apple ,100 ,2 ,200
Grapes ,200 ,3 ,600

In [3]:
#Pandas
try:
    
    file=open("data.csv","x")
    file.close()
except:
    print("the file is already there")

the file is already there

In [9]:
import pandas as pd
df = pd.read_csv("data.csv")
df

   sn    name  age         add       phone
0   1     Ram   23   Kathmandu  9869850620
1   2    hari   24     pokhara  9857052061
2   3   Shyam   25       jhapa  9847407810
3   4  Bikash   25      butwal  9807464666
4   5   Manoj   25  kapilvastu  9857026038
5   6  Bishal   26       kaski  9847091671

In [11]:
import pandas as pd
df = pd.read_csv("data.csv",nrows=4)
df

   sn    name  age        add       phone
0   1     Ram   23  Kathmandu  9869850620
1   2    hari   24    pokhara  9857052061
2   3   Shyam   25      jhapa  9847407810
3   4  Bikash   25     butwal  9807464666

In [14]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df

      name  age         add       phone
sn
1      Ram   23   Kathmandu  9869850620
2     Hari   24     pokhara  9857052061
3    Shyam   25       jhapa  9847407810
4   Bikash   25      butwal  9807464666
5    Manoj   25  kapilvastu  9857026038
6   Bishal   26       kaski  9847091671

In [16]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df.head(3)

     name  age        add       phone
sn
1     Ram   23  Kathmandu  9869850620
2    Hari   24    pokhara  9857052061
3   Shyam   25      jhapa  9847407810

In [18]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df.tail(3)

      name  age         add       phone
sn
4   Bikash   25      butwal  9807464666
5    Manoj   25  kapilvastu  9857026038
6   Bishal   26       kaski  9847091671

In [21]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df.iloc[1:4]

      name  age      add       phone
sn
2     Hari   24  pokhara  9857052061
3    Shyam   25    jhapa  9847407810
4   Bikash   25   butwal  9807464666

In [24]:
#Getting data without index .....
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df.loc[2:5]

      name  age         add       phone
sn
2     Hari   24     pokhara  9857052061
3    Shyam   25       jhapa  9847407810
4   Bikash   25      butwal  9807464666
5    Manoj   25  kapilvastu  9857026038

In [29]:
#Filtering
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df["add"]

sn
1     Kathmandu
2       pokhara
3         jhapa
4        butwal
5    kapilvastu
6         kaski
Name: add, dtype: object

In [3]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df["add"]=="Kathmandu"

sn
1     True
2    False
3    False
4    False
5    False
6    False
Name: add, dtype: bool

In [5]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df[df["add"]=="Kathmandu"]

   name  age        add       phone
sn
1   Ram   23  Kathmandu  9869850620

In [7]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df[df["age"]>25]

      name  age    add       phone
sn
6   Bishal   26  kaski  9847091671

In [13]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
df[(df["age"]>25) & (df["add"]=="Kathmandu")]

      name  age        add       phone
sn
6   Bishal   26  Kathmandu  9847091671

In [6]:
import pandas as pd
df = pd.read_csv("data.csv",index_col="sn")
data=df[(df["age"]>25) & (df["add"]=="Kathmandu")] 
data.to_csv("new_data.csv")

In [9]:
#list inside dict
import pandas as pd

data={'name':['Ram','Shyam','Hari','sita','Gita'],
      'age':[23,24,24,25,26],
     'add':['ktm','Pkr','btw','brj','ctw']}
df=pd.DataFrame(data)
df.to_csv('new_data.csv')
df

    name  age  add
0    Ram   23  ktm
1  Shyam   24  Pkr
2   Hari   24  btw
3   sita   25  brj
4   Gita   26  ctw

In [4]:
file=open('new_data.csv','a')
file.write('\n,Sameer,45,Ktm,9847407810')
file.close()

In [9]:

import csv
data=[['name','age','add'],
      ['Ram',45,'ktm'],
      ['Handsome',22,'Bandauli'],
      ['simran',18,'jinuwa']]
file=open('list_data.csv','w')
x=csv.writer(file)
x.writerows(data)
file.close()

In [1]:
import csv
data=[['name','age','add'],
      ['Ram',45,'ktm'],
      ['Handsome',22,'Bandauli'],
      ['simran',18,'jinuwa']]
file=open('list_data.csv','w')
x=csv.writer(file)
x.writerows(data)
file.close()
df=pd.read_csv(list_data.csv)
df

NameError: name 'pd' is not defined

In [2]:
import csv
data = []
with open()

In [3]:
import csv
csv_columns=['Name','Age','Address']
dict = {}

In [3]:
import pandas as pd

df1 = pd.DataFrame({'Names': ['Andreas', 'George', 'Steve',

'Sarah', 'Joanna', 'Hanna'],

'Age':[21, 22, 20, 19, 18, 23]})

df2 = pd.DataFrame({'Names': ['Pete', 'Jordan', 'Gustaf',

'Sophie', 'Sally', 'Simone'],

'Age':[22, 21, 19, 19, 29, 21]})

df3 = pd.DataFrame({'Names': ['Ulrich', 'Donald', 'Jon',

'Jessica', 'Elisabeth', 'Diana'],

'Age':[21, 21, 20, 19, 19, 22]})

df = pd.concat([df1, df2, df3], keys =['Group1', 'Group2', 'Group3'],

names=['Group', 'Row Num']).reset_index()

df.to_csv('boooks.csv', index=False)

In [7]:
import pandas as pd
df=pd.read_csv('books.csv',usecols=['Names','Age'])
df

FileNotFoundError: [Errno 2] No such file or directory: 'books.csv'

In [2]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 366.4 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=dd6f2b3f7bfba5856f982a1e20d3580f4e1da8427feaf10e4be25ae5c1d2e8fa
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [5]:
import mysql.connector

database = mysql.connector.connect(
    
    
    
    host="localhost",
    user="root",
    password="",
    database= "class 4:15"
)
db = database.cursor()

In [6]:
sql = "SELECT * FROM student WHERE grade = 'A'"
db.execute(sql)
result = db.fetchall()
result

[(1, 'Ram', 80, 76, 60, 75, 67, 412, 88.5, 'A'),
 (2, 'Shyam', 100, 50, 60, 70, 67, 456, 81.26, 'A')]

In [ ]:

Name= input("Enter the name:")
Physics=int(input("Enter the name:")) 
Math= int(input("Enter the name:"))
Nepali=int(input("Enter the name:"))
English= int(input("Enter the name:"))
Chemistry= int(input("Enter the name:"))
Total= int(input("Enter the name:"))
per= int(input("Enter the name:"))
Grade= int(input("Enter the name:"))

sql = f'''INSERT INTO student( Name, Physics, Math, Nepali, English, Chemistry, Total, Percentage, Grade) 
VALUES ('{Name}',{Physics},{Math},{Nepali},{English},{Chemistry},{Total},{per},'{Grade}')'''
db.execute(sql)
database.commit()

In [1]:
#OOP
class Hello:
    
    print("HelloWorld")
obj = Hello()

HelloWorld

In [6]:

class Hello:
    def hello():
        print("HelloWorld")
obj = Hello()
obj.hello()

TypeError: hello() takes 0 positional arguments but 1 was given

In [8]:
class Hello:
    def hello(self):
        print("HelloWorld")
obj = Hello()
obj.hello()

HelloWorld

In [12]:
class Hello:
    
    @staticmethod
    def hello():
        print("HelloWorld")
obj = Hello()
obj.hello()

HelloWorld

In [23]:
class Area:
    def area(self,l,b):
        
        a=l*b
        return a
    def volume(self,l,b,h):
        
        v=a*h
        print(v)
        
l=20
b=10 
h=5
obj = Area()
obj.area(l,b)
obj.volume(l,b,h)

NameError: name 'a' is not defined

In [25]:
class Area:
    def area(self,l,b):
        
        a=l*b
        print(a)
class Volume:
    
    def volume(self,l,b,h):
        
        v=l*b*h
        print(v)
        
l=20
b=10 
h=5
obj = Area()
obj1=Volume()
obj.area(l,b)
obj1.volume(l,b,h)

200
1000

In [29]:
class Area:
    def __init__(self,l,b,h):
        
        self.l=l
        self.b=b
        self.h=h
        
    def area(self):
        
        a=self.l*self.b
        print(a)

    
    def volume(self):
        
        v=self.l*self.b*self.h
        print(v)
        
l=20
b=10 
h=5
obj = Area(l,b,h)

obj.area()
obj.volume()

200
1000

In [30]:
class Area:
    def area(self,l,b):
        
        a=l*b
        print(a)
class Volume:
    
    def volume(self,l,b,h):
        
        v=l*b*h
        print(v)
        
l=20
b=10 
h=5
obj = Area()
obj1=Volume()
obj.area(l,b)
obj1.volume(l,b,h)

200
1000

In [34]:
class Info:
    def __init__(self,name,age,add):
        self.name=name
        self.age=age
        self.add=add
    def info(self):
        return f"I am {self.name} and from {self.add}"
name="ram"
age=22
add="btw"
obj=Info(name,age,add)
print(obj.info())

I am ram and from btw

In [ ]:
#inheritance
class Info:
    def __init__(self):
        
        self.name=input("Enter the name:")
        self.age=int(input("Enter the age:"))
        self.add=input("Enter the address:")
                       
class Data(Info):
    def data(self):
        print(f"Hello,I am {self.name} I am from{self.add},I am {self.age}")
obj=Data()
obj.data()

In [ ]:
class Info:
    def __init__(self, name, age, add):
        
        self.name=name
        self.age=age
        self.add=add
                       
class Data(Info):
    def data(self,name,age ,add):
        print(f"Hello,I am {self.name} I am from{self.add},I am {self.age}")
        
name=input("Enter the name:")
age=int(input("Enter the age:"))
add=input("Enter the address:")

obj=Data(name,age,add)
obj.data()

In [ ]:
class A:
    pass
class B(A):
    pass
class C(B):
    pass
obj = c()

In [ ]:
class A:
    pass
class B:
    pass
class C(A,B):
    pass
obj = c()

In [ ]:
class Info:
    def __init__(self, name, age, add):
        
        
        self.add=add
                       
class Data(Info):
    def data(self,name,age ,add):
        print(f"Hello,I am {self.name} I am from{self.add},I am {self.age}")
        
name=input("Enter the name:")
age=int(input("Enter the age:"))
add=input("Enter the address:")

obj=Data(name,age,add)
obj.data()

In [ ]:
#Multiple inheritance
class Add:
    def __init__(self,  add):
        self.add =add

class Age:
    def __init__(self,age):
        self.age = age
class Data(Add,Age):
    def __init__(self,name,age,add):
        self.name = name
        Age.__init__(self,age)
        Add.__init__(self,add)
    def data(self):
        print(f"Hello,I am {self.name} I am from{self.add},I am {self.age}")
        
name=input("Enter the name:")
age=int(input("Enter the age:"))
add=input("Enter the address:")

obj = Data(name,age,add)
obj.data()

In [2]:
class Info:
    
    def __init__(self):
        self.name ="Ram"
        self.age =34
        self.add="Bara"
obj =Info()        
print(obj.name)
print(obj.age)
print(obj.add)

Ram
34
Bara

In [1]:
class Info:
    
    def __init__(self):
        self._name ="Ram"
        self._age =34
        self._add="Bara"
obj =Info()        
print(obj._name)
print(obj._age)
print(obj._add)

Ram
34
Bara

In [ ]:
class Info:
    def __init__(self,  add):
        
        
        self._add=add
                       
class Data(Info):
    def data(self,name,age ,add):
        print(f"Hello,I am {self.name} I am from{self._add},I am {self.age}")
        
name=input("Enter the name:")
age=int(input("Enter the age:"))
add=input("Enter the address:")

obj=Data(name,age,add)
obj.data()

In [ ]:
class Info:
    
    def __init__(self):
        self.name ="Ram"
        self.age =34
        self.add="Bara"
obj =Info()        
print(obj.name)
print(obj.age)
print(obj.add)

In [ ]:
class Add:
    def __init__(self,  add):
        self.add =add
    def add(self):
        print(self.add)

class Age:
    def __init__(self,age):
        self.age = age
    def age(self):
        print(self.age)
class Data(Add,Age):
    def __init__(self,name,age,add):
        self.name = name
        Age.__init__(self,age)
        Add.__init__(self,add)
    def data(self):
        print(f"Hello,I am {self.name} I am from{self.add},I am {self.age}")
        
name=input("Enter the name:")
age=int(input("Enter the age:"))
add=input("Enter the address:")

obj = Data(name,age,add)
obj.data()

In [ ]:
#Function call use of one class function into another class:

In [ ]:
class Info:
    def __init__(self,age,add):
        self.age = age
        self.add = add
    def info(self):
        print(self.age,self.add)
        

class Data(Info):
    def __init__(self,name,age,add):
        self.name = name
        Info.__init__(self,age,add)
    
    def data(self):
        print(f"Hello World I am {self.name}. I am from {self.add}. I am {self.age}")
        super().info()

name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
obj = Data(name,age,add)
obj.data()

In [1]:
class Info:
    
    def __init__(self):
        self.name ="Ram"
        self.age =34
        self.add="Bara"
    def __str__(self):
        return self.name 
    
obj =Info()
print(obj)

Ram

In [9]:
#Decorators
def outer_function(fun):
    
    def inner_function():
        x=fun()
    return inner_function()
@outer_function
def hello():
    print('Hello World')

Hello World

In [10]:

def outer_function(fun):
    
    def inner_function():
        x=fun()
    return inner_function()
@outer_function
def hello():
    print('Hello World')

Hello World