In [1]:
# for loop
# while loop

In [2]:
# range(5) 0,1,2,3,4
# range(1,5) 1,2,3,4
# range(1,10,2) 1,3,5,7,9

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [9]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
for i in range(5):
    x = int(input("Enter value = "))
    print(x)

Enter value = 234
234
Enter value = 345
345
Enter value = 234
234
Enter value = 456
456
Enter value = 234
234

In [16]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value = "))
    s = s + x
    
    print(s)

Enter n = 5
Enter value = 1
1
Enter value = 2
3
Enter value = 3
6
Enter value = 3
9
Enter value = 5
14

In [3]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value = ")
    s = s + x + '\n'
    
print(s)

Enter n = 2
Enter value = Ram
Enter value = Shyam
Ram Shyam

In [7]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " " +phone+'\n'
    
print(s)

Enter n = 5
Enter name = Ram
Enter phone = 9808778767
Enter name = Shyam
Enter phone = 9808667890
Enter name = Hari
Enter phone = 9808778723
Enter name = Nabin
Enter phone = 9867889826
Enter name = Sabin
Enter phone = 9841667812
Ram 9808778767
Shyam 9808667890
Hari 9808778723
Nabin 9867889826
Sabin 9841667812

In [8]:
print(s)

Ram 9808778767
Shyam 9808667890
Hari 9808778723
Nabin 9867889826
Sabin 9841667812

In [9]:
# 5! = 1*2*3*4*5

In [12]:
s =0
n = int(input("Enter n = "))
for i in range(n+1):
    s = s+i
print(s)

Enter n = 100
5050

In [15]:
# 5! = 1*2*3*4*5
s =1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s*i
print(s)

Enter n = 5
120

In [17]:
for i in range(21):
    if i %2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [21]:
for i in range(21):
    if i %2 ==0:
        print(i,end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [18]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [22]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [23]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [26]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldIamPython

In [1]:
# while
# control statemant imp   
# break 
# continue

In [6]:
for i in range(10):
    if i ==6:
       break
    print(i)

0
1
2
3
4
5

In [12]:
#while loop
#while <condition>
# <operation>

In [7]:
a = 0
while a<5:
    print("hello world")
    a = a+1

hello world
hello world
hello world
hello world
hello world

In [12]:
i=1
n= int(input("enter n= "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

enter n= 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
i=0
s=0
n= int(input("enter n= "))
while i<n:
    x = int(input("enter value = "))
    s=s+x
    i=i+1
print(s)

In [4]:
i=""
s=0
n= int(input("enter n= "))
while i<n:
    name = (input("enter name = "))
    phone = (input("enter phone = "))

    s = s +  name + " " + phone + "\n"
    i=i+1
print(s)

enter n= 5

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
#break
i = 0
while i<10:
    if i==6:
        break
    print(i,end ="") 
    i=i+1

012345

In [ ]:
n=int()