In [1]:
try:
    file=open('daves.csv','x')
    file.close()
except:
    print('file is already presnt')

file is already presnt

In [2]:
#to read excel file not csv file :
import pandas as pd 
df = pd.read_excel('Book1.xlsx')
df

     Ram  ktm
0  hari   pkr
1  shyam  btw

In [3]:
import csv
data = [['name','age','add'],
        ['Ram',45,'Kathmandu'],
       ['Shyam',34,'Bhaktapur'],
       ['Hari',34,'Lalitpur']]
file = open('daves.csv','w')
x=csv.writer(file)
x.writerows(data)
file.close()

In [4]:
import pandas as pd
df =pd.read_csv('daves.csv')
df

    name  age        add
0    Ram   45  Kathmandu
1  Shyam   34  Bhaktapur
2   Hari   34   Lalitpur

In [5]:
df = pd.read_csv('daves.csv',nrows=2)
df

    name  age        add
0    Ram   45  Kathmandu
1  Shyam   34  Bhaktapur

In [6]:
df=pd.read_csv('daves.csv',index_col='add')
df

            name  age
add
Kathmandu    Ram   45
Bhaktapur  Shyam   34
Lalitpur    Hari   34

In [7]:
df=pd.read_csv('daves.csv',index_col='add')
df.head(3)

            name  age
add
Kathmandu    Ram   45
Bhaktapur  Shyam   34
Lalitpur    Hari   34

In [8]:
df=pd.read_csv('daves.csv')
df.tail(2)

    name  age        add
1  Shyam   34  Bhaktapur
2   Hari   34   Lalitpur

In [9]:
df=pd.read_csv('daves.csv')
df.loc[1:3]

    name  age        add
1  Shyam   34  Bhaktapur
2   Hari   34   Lalitpur

In [10]:
df=pd.read_csv('daves.csv',index_col='add')
df.loc[df['age'] ==34]

            name  age
add
Bhaktapur  Shyam   34
Lalitpur    Hari   34

In [11]:
df=pd.read_csv('daves.csv')
df[(df['age']==34) &(df['add']=='Lalitpur')]

   name  age       add
2  Hari   34  Lalitpur

In [12]:
import pandas as pd
# list inside dict
data = {'name':['Ram','Shyam','Hari','Sita','Gita'],
       'age':[23,45,67,89,43],
       'add':['Kathmandu','Bara','Jhapa','Bhaktapur','Lalitpur']}
df = pd.DataFrame(data)
df.to_csv('new_data.csv')
df

    name  age        add
0    Ram   23  Kathmandu
1  Shyam   45       Bara
2   Hari   67      Jhapa
3   Sita   89  Bhaktapur
4   Gita   43   Lalitpur

In [13]:
#Advance Pandas
import pandas as pd
df= pd.read_excel('india.xlsx')
df

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,India,Urban,18.06,83.01,89.55,56.28,62.11
1,India,Rural,11.98,65.90,81.54,33.70,43.72
2,India,Total,13.62,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,*,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,33.67,85.58,94.65,47.57,47.65
...,...,...,...,...,...,...,...
106,Uttarakhand,Rural,32.17,79.78,93.16,45.98,58.7
107,Uttarakhand,Total,33.21,81.57,92.92,50.36,59.79
108,West Bengal,Urban,20.75,83.37,89.76,47.59,51.4
109,West Bengal,Rural,19.91,72.54,77.83,25.88,26.87
110,West Bengal,Total,20.13,76.06,81.62,32.94,34.65

In [14]:
df.shape

(111, 7)

In [15]:
df.describe()

,Women (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%)
count,111.000000,111.000000
mean,79.858198,47.630270
std,17.462620,16.296502
min,-69.230000,-30.770000
25%,74.820000,35.440000
50%,82.960000,49.060000
75%,87.680000,59.820000
max,99.140000,79.780000

In [16]:
df.values

array([['India', 'Urban', 18.06, 83.01, 89.55, 56.28, 62.11],
       ['India', 'Rural', 11.98, 65.9, 81.54, 33.7, 43.72],
       ['India', 'Total', 13.62, 71.46, 84.37, 41.04, 50.21],
       ['Andaman & Nicobar Islands', 'Urban', '*', 86.55, 89.27, 59.71,
        59.41],
       ['Andaman & Nicobar Islands', 'Rural', 33.67, 85.58, 94.65, 47.57,
        47.65],
       ['Andaman & Nicobar Islands', 'Total', 42.61, 85.97, 92.53, 52.47,
        52.28],
       ['Andhra Pradesh', 'Urban', 10.15, 79.01, 86.4, 51.2, 59.54],
       ['Andhra Pradesh', 'Rural', 9.83, 63.84, 76.28, 34.28, 42.54],
       ['Andhra Pradesh', 'Total', 9.92, 68.64, 79.48, 39.63, 47.91],
       ['Arunachal Pradesh', 'Urban', 8.03, 84.65, 92.13, 55.39, 64.12],
       ['Arunachal Pradesh', 'Rural', 5.54, 71.63, 85.6, 36.19, 44.97],
       ['Arunachal Pradesh', 'Total', 5.9, 73.78, 86.69, 39.36, 48.18],
       ['Assam', 'Urban', 4.13, 87.47, 92.62, 49.02, 53.24],
       ['Assam', 'Rural', 4.42, 75.39, 82.76, 26.15, 32.15],
       ['Assam', 'Total', 4.39, 77.2, 84.31, 29.57, 35.46],
       ['Bihar', 'Urban', 18.51, 74.93, 83.95, 47.99, 57.11],
       ['Bihar', 'Rural', 10.48, 54.54, 77.01, 25.21, 38.9],
       ['Bihar', 'Total', 11.53, 57.78, 78.5, 28.83, 42.8],
       ['Chandigarh', 'Urban', 6.4, 83.1, 94.8, 59.91, 64.48],
       ['Chandigarh', 'Rural', '*', -69.23, '*', -30.77, '*'],
       ['Chandigarh', 'Total', 6.32, 82.96, 94.8, 59.61, 64.48],
       ['Chhattisgarh', 'Urban', 6.29, 85.26, 90.27, 52.39, 52.19],
       ['Chhattisgarh', 'Rural', 4.18, 71.3, 86.33, 32.05, 38.14],
       ['Chhattisgarh', 'Total', 4.62, 74.62, 87.26, 36.89, 41.45],
       ['Dadra and Nagar Haveli & Daman and Diu', 'Urban', 6.15, 87.69,
        95.44, 48.6, 58.77],
       ['Dadra and Nagar Haveli & Daman and Diu', 'Rural', 1.33, 67.9,
        91.56, 24.22, 40.66],
       ['Dadra and Nagar Haveli & Daman and Diu', 'Total', 3.73, 77.26,
        93.43, 35.75, 49.4],
       ['Goa', 'Urban', 19.46, 92.64, 94.93, 73.01, 74.96],
       ['Goa', 'Rural', -18.15, 93.43, 98.5, 69.31, 79.39],
       ['Goa', 'Total', 19.02, 92.96, 96.25, 71.5, 76.59],
       ['Gujarat', 'Urban', 8.65, 86.83, 95.4, 47.91, 56.93],
       ['Gujarat', 'Rural', 5.8, 69.03, 87.49, 23.63, 36.91],
       ['Gujarat', 'Total', 6.9, 76.45, 90.91, 33.76, 45.57],
       ['Haryana', 'Urban', 8.05, 87.42, 94.46, 60.12, 65.01],
       ['Haryana', 'Rural', 7.41, 78.75, 93.01, 44.14, 60.75],
       ['Haryana', 'Total', 7.59, 81.67, 93.48, 49.53, 62.15],
       ['Himachal Pradesh', 'Urban', 12.25, 95.01, 91.68, 79.78, 78.69],
       ['Himachal Pradesh', 'Rural', 3.37, 91.23, 95.44, 63.78, 70.09],
       ['Himachal Pradesh', 'Total', 4.6, 91.73, 94.91, 65.89, 71.31],
       ['Jammu & Kashmir', 'Urban', 4.01, 84.32, 91.77, 65.11, 73.84],
       ['Jammu & Kashmir', 'Rural', 0.87, 74.71, 91.42, 46.22, 66.04],
       ['Jammu & Kashmir', 'Total', 1.57, 77.27, 91.52, 51.25, 68.21],
       ['Jharkhand', 'Urban', 15.15, 82.37, 94.12, 54.4, 66.15],
       ['Jharkhand', 'Rural', 7.62, 59.34, 80.26, 26.29, 39.39],
       ['Jharkhand', 'Total', 9.04, 65.01, 84, 33.22, 46.6],
       ['Karnataka', 'Urban', 18.92, 85.09, 90.48, 62.3, 64.79],
       ['Karnataka', 'Rural', 16.32, 70.95, 87.03, 41.97, 50.64],
       ['Karnataka', 'Total', 17.26, 76.69, 88.47, 50.22, 56.54],
       ['Kerala', 'Urban', 33.12, 99.13, 99.17, 78.78, 76.83],
       ['Kerala', 'Rural', 25.61, 97.47, 97.39, 75.29, 70.18],
       ['Kerala', 'Total', 29.04, 98.27, 98.21, 76.97, 73.25],
       ['Ladakh', 'Urban', '*', 77.65, 91.87, 53.79, 64.1],
       ['Ladakh', 'Rural', 0, 76.6, 94.17, 49.16, 74.76],
       ['Ladakh', 'Total', 0.69, 76.8, 93.73, 50.04, 72.71],
       ['Lakshadweep', 'Urban', 37.42, 96.4, 100, 68.24, 84.92],
       ['Lakshadweep', 'Rural', '*', 96.82, -96.32, 66.28, -69.41],
       ['Lakshadweep', 'Total', 32.02, 96.5, 99.05, 67.79, 80.92],
       ['Madhya Pradesh', 'Urban', 15.24, 83.32, 92.34, 49.06, 53.12],
       ['Madhya Pradesh', 'Rural', 9.01, 63.3, 82.62, 21.71, 34.97],
       ['Madhya Pradesh', 'Total', 10.49, 68.85, 85.27, 29.29, 39.93],
       ['Maharastra', 'Urban', 29.92, 90.17, 94.59, 61.13, 68.28],
       ['Maharastra', 'Rural', 27.32, 79.51, 91.48, 40.72, 54.27],
       ['Maharastra', 'Total', 28.42, 84.58, 92.97, 50.44, 61],
       ['Manipur', 'Urban', 31.27, 92.05, 96.89, 60.04, 66.87],
       ['Manipur', 'Rural', 21.76, 84.84, 94.03, 40.6, 52.74],
       ['Manipur', 'Total', 25.03, 87.62, 95.24, 48.08, 58.74],
       ['Meghalaya', 'Urban', 36.31, 97.05, 92.9, 61.38, 63.94],
       ['Meghalaya', 'Rural', 30.31, 85.53, 81.52, 27.34, 27.69],
       ['Meghalaya', 'Total', 31.23, 88.17, 83.72, 35.13, 34.7],
       ['Mizoram', 'Urban', 6.9, 99.14, 99.24, 62.33, 59.08],
       ['Mizoram', 'Rural', 3.16, 87.67, 94.22, 32.7, 35.85],
       ['Mizoram', 'Total', 4.96, 94.35, 97.07, 49.95, 49.05],
       ['Nagaland', 'Urban', 5.48, 91.52, 97.73, 63.73, 75.64],
       ['Nagaland', 'Rural', 6.29, 82.74, 90.7, 34.05, 39.84],
       ['Nagaland', 'Total', 6.07, 85.8, 93.29, 44.41, 53.06],
       ['NCT of Delhi', 'Urban', 15.98, 84.92, 92.24, 59.52, 60.74],
       ['NCT of Delhi', 'Rural', -9.36, 89.02, -93.47, 68.74, -70.1],
       ['NCT of Delhi', 'Total', 15.82, 85.02, 92.26, 59.73, 60.87],
       ['Odisha', 'Urban', 8.51, 83.91, 90.66, 47.87, 46.03],
       ['Odisha', 'Rural', 11.22, 69.22, 86.1, 29.63, 36.58],
       ['Odisha', 'Total', 10.83, 71.92, 87.06, 32.98, 38.56],
       ['Puducherry', 'Urban', 24.52, 92.07, 93.43, 68.85, 77.99],
       ['Puducherry', 'Rural', -21.37, 89.07, 97.47, 57.77, 64.48],
       ['Puducherry', 'Total', 23.61, 91.14, 94.55, 65.41, 74.24],
       ['Punjab', 'Urban', 5.29, 83.65, 91.26, 62.37, 62.92],
       ['Punjab', 'Rural', 9.23, 80.04, 88.93, 52.21, 55.71],
       ['Punjab', 'Total', 7.79, 81.4, 89.89, 56.02, 58.67],
       ['Rajasthan', 'Urban', 12.28, 81.32, 92.52, 51.24, 62.16],
       ['Rajasthan', 'Rural', 7.98, 61.63, 90.06, 27.8, 48.35],
       ['Rajasthan', 'Total', 8.9, 66.37, 90.7, 33.44, 51.93],
       ['Sikkim', 'Urban', '*', 92.77, 96.85, 60.2, 70.72],
       ['Sikkim', 'Rural', 41.57, 86.24, 90.34, 41.24, 44.24],
       ['Sikkim', 'Total', 41.22, 88.92, 92.98, 49.01, 54.98],
       ['Tamil Nadu', 'Urban', 31.4, 90.6, 94.24, 63.72, 64.35],
       ['Tamil Nadu', 'Rural', 19.91, 81.5, 92.55, 49.92, 54.3],
       ['Tamil Nadu', 'Total', 25.23, 85.89, 93.36, 56.57, 59.11],
       ['Telangana', 'Urban', 16.68, 80.96, 90.18, 60.88, 70.97],
       ['Telangana', 'Rural', 14.31, 58.1, 81.25, 36.33, 54.58],
       ['Telangana', 'Total', 15.3, 66.64, 84.83, 45.5, 61.16],
       ['Tripura', 'Urban', 29.78, 89.94, 93.53, 36.57, 39.73],
       ['Tripura', 'Rural', 22.11, 76.88, 86.03, 17.89, 25.06],
       ['Tripura', 'Total', 24.21, 80.61, 88.23, 23.23, 29.37],
       ['Uttar Pradesh', 'Urban', 11.94, 78.6, 87.95, 51.87, 56.79],
       ['Uttar Pradesh', 'Rural', 8.63, 65.55, 86.25, 35.04, 45.58],
       ['Uttar Pradesh', 'Total', 9.32, 68.83, 86.71, 39.27, 48.62],
       ['Uttarakhand', 'Urban', 35.8, 85.27, 92.4, 59.38, 62.19],
       ['Uttarakhand', 'Rural', 32.17, 79.78, 93.16, 45.98, 58.7],
       ['Uttarakhand', 'Total', 33.21, 81.57, 92.92, 50.36, 59.79],
       ['West Bengal', 'Urban', 20.75, 83.37, 89.76, 47.59, 51.4],
       ['West Bengal', 'Rural', 19.91, 72.54, 77.83, 25.88, 26.87],
       ['West Bengal', 'Total', 20.13, 76.06, 81.62, 32.94, 34.65]],
      dtype=object)

In [17]:
df.iloc[1:5]

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
1,India,Rural,11.98,65.90,81.54,33.70,43.72
2,India,Total,13.62,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,*,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,33.67,85.58,94.65,47.57,47.65

In [18]:
df.head()

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,India,Urban,18.06,83.01,89.55,56.28,62.11
1,India,Rural,11.98,65.90,81.54,33.70,43.72
2,India,Total,13.62,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,*,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,33.67,85.58,94.65,47.57,47.65

In [19]:
df.iloc[15:25]

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
15,Bihar,Urban,18.51,74.93,83.95,47.99,57.11
16,Bihar,Rural,10.48,54.54,77.01,25.21,38.9
17,Bihar,Total,11.53,57.78,78.5,28.83,42.8
18,Chandigarh,Urban,6.4,83.10,94.8,59.91,64.48
19,Chandigarh,Rural,*,-69.23,*,-30.77,*
20,Chandigarh,Total,6.32,82.96,94.8,59.61,64.48
21,Chhattisgarh,Urban,6.29,85.26,90.27,52.39,52.19
22,Chhattisgarh,Rural,4.18,71.30,86.33,32.05,38.14
23,Chhattisgarh,Total,4.62,74.62,87.26,36.89,41.45
24,Dadra and Nagar Haveli & Daman and Diu,Urban,6.15,87.69,95.44,48.60,58.77

In [20]:
df.iloc[23]

States/UTs                                                                                 Chhattisgarh
Area                                                                                              Total
Children age 5 years who attended pre-primary school during the school year 2019-20 (%)            4.62
Women (age 15-49) who are literate4 (%)                                                           74.62
Men (age 15-49) who are literate4 (%)                                                             87.26
Women (age 15-49)  with 10 or more years of schooling (%)                                         36.89
Men (age 15-49)  with 10 or more years of schooling (%)                                           41.45
Name: 23, dtype: object

In [21]:
df.loc[df['Men (age 15-49) who are literate4 (%)']== 83.95]

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
15,Bihar,Urban,18.51,74.93,83.95,47.99,57.11

In [22]:
df.loc[(df['States/UTs']=='Bihar') & (df['Women (age 15-49) who are literate4 (%)'] ==74.93)]

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
15,Bihar,Urban,18.51,74.93,83.95,47.99,57.11

In [23]:
df.loc[(df['States/UTs']== 'Bihar')  & (df['Area']=='Urban')]

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
15,Bihar,Urban,18.51,74.93,83.95,47.99,57.11

In [24]:
df

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,India,Urban,18.06,83.01,89.55,56.28,62.11
1,India,Rural,11.98,65.90,81.54,33.70,43.72
2,India,Total,13.62,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,*,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,33.67,85.58,94.65,47.57,47.65
...,...,...,...,...,...,...,...
106,Uttarakhand,Rural,32.17,79.78,93.16,45.98,58.7
107,Uttarakhand,Total,33.21,81.57,92.92,50.36,59.79
108,West Bengal,Urban,20.75,83.37,89.76,47.59,51.4
109,West Bengal,Rural,19.91,72.54,77.83,25.88,26.87
110,West Bengal,Total,20.13,76.06,81.62,32.94,34.65

In [25]:
x=df.sort_values('States/UTs')
x

,States/UTs,Area,Children age 5 years who attended pre-primary school during the school year 2019-20 (%),Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
3,Andaman & Nicobar Islands,Urban,*,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,33.67,85.58,94.65,47.57,47.65
5,Andaman & Nicobar Islands,Total,42.61,85.97,92.53,52.47,52.28
6,Andhra Pradesh,Urban,10.15,79.01,86.4,51.20,59.54
7,Andhra Pradesh,Rural,9.83,63.84,76.28,34.28,42.54
...,...,...,...,...,...,...,...
105,Uttarakhand,Urban,35.8,85.27,92.4,59.38,62.19
107,Uttarakhand,Total,33.21,81.57,92.92,50.36,59.79
109,West Bengal,Rural,19.91,72.54,77.83,25.88,26.87
108,West Bengal,Urban,20.75,83.37,89.76,47.59,51.4
110,West Bengal,Total,20.13,76.06,81.62,32.94,34.65

In [26]:
20.13+81.62

101.75

In [27]:
df.stat=df['Children age 5 years who attended pre-primary school during the school year 2019-20 (%)'] + df['Men (age 15-49) who are literate4 (%)']
df.stat

TypeError: can only concatenate str (not "float") to str

In [28]:
df=df.drop(columns=['Children age 5 years who attended pre-primary school during the school year 2019-20 (%)'])
df

,States/UTs,Area,Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,India,Urban,83.01,89.55,56.28,62.11
1,India,Rural,65.90,81.54,33.70,43.72
2,India,Total,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,85.58,94.65,47.57,47.65
...,...,...,...,...,...,...
106,Uttarakhand,Rural,79.78,93.16,45.98,58.7
107,Uttarakhand,Total,81.57,92.92,50.36,59.79
108,West Bengal,Urban,83.37,89.76,47.59,51.4
109,West Bengal,Rural,72.54,77.83,25.88,26.87
110,West Bengal,Total,76.06,81.62,32.94,34.65

In [29]:
df

,States/UTs,Area,Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,India,Urban,83.01,89.55,56.28,62.11
1,India,Rural,65.90,81.54,33.70,43.72
2,India,Total,71.46,84.37,41.04,50.21
3,Andaman & Nicobar Islands,Urban,86.55,89.27,59.71,59.41
4,Andaman & Nicobar Islands,Rural,85.58,94.65,47.57,47.65
...,...,...,...,...,...,...
106,Uttarakhand,Rural,79.78,93.16,45.98,58.7
107,Uttarakhand,Total,81.57,92.92,50.36,59.79
108,West Bengal,Urban,83.37,89.76,47.59,51.4
109,West Bengal,Rural,72.54,77.83,25.88,26.87
110,West Bengal,Total,76.06,81.62,32.94,34.65

In [30]:
df.to_csv('modified.csv')

In [31]:
df=pd.read_csv('modified.csv')
df

,Unnamed: 0,States/UTs,Area,Women (age 15-49) who are literate4 (%),Men (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
0,0,India,Urban,83.01,89.55,56.28,62.11
1,1,India,Rural,65.90,81.54,33.70,43.72
2,2,India,Total,71.46,84.37,41.04,50.21
3,3,Andaman & Nicobar Islands,Urban,86.55,89.27,59.71,59.41
4,4,Andaman & Nicobar Islands,Rural,85.58,94.65,47.57,47.65
...,...,...,...,...,...,...,...
106,106,Uttarakhand,Rural,79.78,93.16,45.98,58.7
107,107,Uttarakhand,Total,81.57,92.92,50.36,59.79
108,108,West Bengal,Urban,83.37,89.76,47.59,51.4
109,109,West Bengal,Rural,72.54,77.83,25.88,26.87
110,110,West Bengal,Total,76.06,81.62,32.94,34.65

In [33]:
# Group by function
df.groupby('Men (age 15-49) who are literate4 (%)').mean()

,Unnamed: 0,Women (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%)
Men (age 15-49) who are literate4 (%),,,
*,19.0,-69.23,-30.77
-93.47,76.0,89.02,68.74
-96.32,55.0,96.82,66.28
100,54.0,96.40,68.24
76.28,7.0,63.84,34.28
...,...,...,...
98.21,50.0,98.27,76.97
98.5,28.0,93.43,69.31
99.05,56.0,96.50,67.79
99.17,48.0,99.13,78.78
99.24,69.0,99.14,62.33

In [35]:
df.groupby('Men (age 15-49) who are literate4 (%)').count()

,Unnamed: 0,States/UTs,Area,Women (age 15-49) who are literate4 (%),Women (age 15-49) with 10 or more years of schooling (%),Men (age 15-49) with 10 or more years of schooling (%)
Men (age 15-49) who are literate4 (%),,,,,,
*,1,1,1,1,1,1
-93.47,1,1,1,1,1,1
-96.32,1,1,1,1,1,1
100,1,1,1,1,1,1
76.28,1,1,1,1,1,1
...,...,...,...,...,...,...
98.21,1,1,1,1,1,1
98.5,1,1,1,1,1,1
99.05,1,1,1,1,1,1
99.17,1,1,1,1,1,1
99.24,1,1,1,1,1,1

In [38]:
for df in pd.read_csv('modified.csv',chunksize=5):
    print(df)

   Unnamed: 0                 States/UTs   Area  \
0           0                      India  Urban
1           1                      India  Rural
2           2                      India  Total
3           3  Andaman & Nicobar Islands  Urban
4           4  Andaman & Nicobar Islands  Rural

   Women (age 15-49) who are literate4 (%)  \
0                                    83.01
1                                    65.90
2                                    71.46
3                                    86.55
4                                    85.58

   Men (age 15-49) who are literate4 (%)  \
0                                  89.55
1                                  81.54
2                                  84.37
3                                  89.27
4                                  94.65

   Women (age 15-49)  with 10 or more years of schooling (%)  \
0                                              56.28
1                                              33.70
2                                              41.04
3                                              59.71
4                                              47.57

   Men (age 15-49)  with 10 or more years of schooling (%)
0                                              62.11
1                                              43.72
2                                              50.21
3                                              59.41
4                                              47.65
   Unnamed: 0                 States/UTs   Area  \
5           5  Andaman & Nicobar Islands  Total
6           6             Andhra Pradesh  Urban
7           7             Andhra Pradesh  Rural
8           8             Andhra Pradesh  Total
9           9          Arunachal Pradesh  Urban

   Women (age 15-49) who are literate4 (%)  \
5                                    85.97
6                                    79.01
7                                    63.84
8                                    68.64
9                                    84.65

   Men (age 15-49) who are literate4 (%)  \
5                                  92.53
6                                  86.40
7                                  76.28
8                                  79.48
9                                  92.13

   Women (age 15-49)  with 10 or more years of schooling (%)  \
5                                              52.47
6                                              51.20
7                                              34.28
8                                              39.63
9                                              55.39

   Men (age 15-49)  with 10 or more years of schooling (%)
5                                              52.28
6                                              59.54
7                                              42.54
8                                              47.91
9                                              64.12
    Unnamed: 0         States/UTs   Area  \
10          10  Arunachal Pradesh  Rural
11          11  Arunachal Pradesh  Total
12          12              Assam  Urban
13          13              Assam  Rural
14          14              Assam  Total

    Women (age 15-49) who are literate4 (%)  \
10                                    71.63
11                                    73.78
12                                    87.47
13                                    75.39
14                                    77.20

    Men (age 15-49) who are literate4 (%)  \
10                                  85.60
11                                  86.69
12                                  92.62
13                                  82.76
14                                  84.31

    Women (age 15-49)  with 10 or more years of schooling (%)  \
10                                              36.19
11                                              39.36
12                                              49.02
13                                              26.15
14                                              29.57

    Men (age 15-49)  with 10 or more years of schooling (%)
10                                              44.97
11                                              48.18
12                                              53.24
13                                              32.15
14                                              35.46
    Unnamed: 0  States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
15          15       Bihar  Urban                                    74.93
16          16       Bihar  Rural                                    54.54
17          17       Bihar  Total                                    57.78
18          18  Chandigarh  Urban                                    83.10
19          19  Chandigarh  Rural                                   -69.23

   Men (age 15-49) who are literate4 (%)  \
15                                 83.95
16                                 77.01
17                                  78.5
18                                  94.8
19                                     *

    Women (age 15-49)  with 10 or more years of schooling (%)  \
15                                              47.99
16                                              25.21
17                                              28.83
18                                              59.91
19                                             -30.77

   Men (age 15-49)  with 10 or more years of schooling (%)
15                                              57.11
16                                               38.9
17                                               42.8
18                                              64.48
19                                                  *
    Unnamed: 0                              States/UTs   Area  \
20          20                              Chandigarh  Total
21          21                            Chhattisgarh  Urban
22          22                            Chhattisgarh  Rural
23          23                            Chhattisgarh  Total
24          24  Dadra and Nagar Haveli & Daman and Diu  Urban

    Women (age 15-49) who are literate4 (%)  \
20                                    82.96
21                                    85.26
22                                    71.30
23                                    74.62
24                                    87.69

    Men (age 15-49) who are literate4 (%)  \
20                                  94.80
21                                  90.27
22                                  86.33
23                                  87.26
24                                  95.44

    Women (age 15-49)  with 10 or more years of schooling (%)  \
20                                              59.61
21                                              52.39
22                                              32.05
23                                              36.89
24                                              48.60

    Men (age 15-49)  with 10 or more years of schooling (%)
20                                              64.48
21                                              52.19
22                                              38.14
23                                              41.45
24                                              58.77
    Unnamed: 0                              States/UTs   Area  \
25          25  Dadra and Nagar Haveli & Daman and Diu  Rural
26          26  Dadra and Nagar Haveli & Daman and Diu  Total
27          27                                     Goa  Urban
28          28                                     Goa  Rural
29          29                                     Goa  Total

    Women (age 15-49) who are literate4 (%)  \
25                                    67.90
26                                    77.26
27                                    92.64
28                                    93.43
29                                    92.96

    Men (age 15-49) who are literate4 (%)  \
25                                  91.56
26                                  93.43
27                                  94.93
28                                  98.50
29                                  96.25

    Women (age 15-49)  with 10 or more years of schooling (%)  \
25                                              24.22
26                                              35.75
27                                              73.01
28                                              69.31
29                                              71.50

    Men (age 15-49)  with 10 or more years of schooling (%)
25                                              40.66
26                                              49.40
27                                              74.96
28                                              79.39
29                                              76.59
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
30          30    Gujarat  Urban                                    86.83
31          31    Gujarat  Rural                                    69.03
32          32    Gujarat  Total                                    76.45
33          33    Haryana  Urban                                    87.42
34          34    Haryana  Rural                                    78.75

    Men (age 15-49) who are literate4 (%)  \
30                                  95.40
31                                  87.49
32                                  90.91
33                                  94.46
34                                  93.01

    Women (age 15-49)  with 10 or more years of schooling (%)  \
30                                              47.91
31                                              23.63
32                                              33.76
33                                              60.12
34                                              44.14

    Men (age 15-49)  with 10 or more years of schooling (%)
30                                              56.93
31                                              36.91
32                                              45.57
33                                              65.01
34                                              60.75
    Unnamed: 0        States/UTs   Area  \
35          35           Haryana  Total
36          36  Himachal Pradesh  Urban
37          37  Himachal Pradesh  Rural
38          38  Himachal Pradesh  Total
39          39   Jammu & Kashmir  Urban

    Women (age 15-49) who are literate4 (%)  \
35                                    81.67
36                                    95.01
37                                    91.23
38                                    91.73
39                                    84.32

    Men (age 15-49) who are literate4 (%)  \
35                                  93.48
36                                  91.68
37                                  95.44
38                                  94.91
39                                  91.77

    Women (age 15-49)  with 10 or more years of schooling (%)  \
35                                              49.53
36                                              79.78
37                                              63.78
38                                              65.89
39                                              65.11

    Men (age 15-49)  with 10 or more years of schooling (%)
35                                              62.15
36                                              78.69
37                                              70.09
38                                              71.31
39                                              73.84
    Unnamed: 0       States/UTs   Area  \
40          40  Jammu & Kashmir  Rural
41          41  Jammu & Kashmir  Total
42          42        Jharkhand  Urban
43          43        Jharkhand  Rural
44          44        Jharkhand  Total

    Women (age 15-49) who are literate4 (%)  \
40                                    74.71
41                                    77.27
42                                    82.37
43                                    59.34
44                                    65.01

    Men (age 15-49) who are literate4 (%)  \
40                                  91.42
41                                  91.52
42                                  94.12
43                                  80.26
44                                  84.00

    Women (age 15-49)  with 10 or more years of schooling (%)  \
40                                              46.22
41                                              51.25
42                                              54.40
43                                              26.29
44                                              33.22

    Men (age 15-49)  with 10 or more years of schooling (%)
40                                              66.04
41                                              68.21
42                                              66.15
43                                              39.39
44                                              46.60
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
45          45  Karnataka  Urban                                    85.09
46          46  Karnataka  Rural                                    70.95
47          47  Karnataka  Total                                    76.69
48          48     Kerala  Urban                                    99.13
49          49     Kerala  Rural                                    97.47

    Men (age 15-49) who are literate4 (%)  \
45                                  90.48
46                                  87.03
47                                  88.47
48                                  99.17
49                                  97.39

    Women (age 15-49)  with 10 or more years of schooling (%)  \
45                                              62.30
46                                              41.97
47                                              50.22
48                                              78.78
49                                              75.29

    Men (age 15-49)  with 10 or more years of schooling (%)
45                                              64.79
46                                              50.64
47                                              56.54
48                                              76.83
49                                              70.18
    Unnamed: 0   States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
50          50       Kerala  Total                                    98.27
51          51       Ladakh  Urban                                    77.65
52          52       Ladakh  Rural                                    76.60
53          53       Ladakh  Total                                    76.80
54          54  Lakshadweep  Urban                                    96.40

    Men (age 15-49) who are literate4 (%)  \
50                                  98.21
51                                  91.87
52                                  94.17
53                                  93.73
54                                 100.00

    Women (age 15-49)  with 10 or more years of schooling (%)  \
50                                              76.97
51                                              53.79
52                                              49.16
53                                              50.04
54                                              68.24

    Men (age 15-49)  with 10 or more years of schooling (%)
50                                              73.25
51                                              64.10
52                                              74.76
53                                              72.71
54                                              84.92
    Unnamed: 0      States/UTs   Area  \
55          55     Lakshadweep  Rural
56          56     Lakshadweep  Total
57          57  Madhya Pradesh  Urban
58          58  Madhya Pradesh  Rural
59          59  Madhya Pradesh  Total

    Women (age 15-49) who are literate4 (%)  \
55                                    96.82
56                                    96.50
57                                    83.32
58                                    63.30
59                                    68.85

    Men (age 15-49) who are literate4 (%)  \
55                                 -96.32
56                                  99.05
57                                  92.34
58                                  82.62
59                                  85.27

    Women (age 15-49)  with 10 or more years of schooling (%)  \
55                                              66.28
56                                              67.79
57                                              49.06
58                                              21.71
59                                              29.29

    Men (age 15-49)  with 10 or more years of schooling (%)
55                                             -69.41
56                                              80.92
57                                              53.12
58                                              34.97
59                                              39.93
    Unnamed: 0  States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
60          60  Maharastra  Urban                                    90.17
61          61  Maharastra  Rural                                    79.51
62          62  Maharastra  Total                                    84.58
63          63     Manipur  Urban                                    92.05
64          64     Manipur  Rural                                    84.84

    Men (age 15-49) who are literate4 (%)  \
60                                  94.59
61                                  91.48
62                                  92.97
63                                  96.89
64                                  94.03

    Women (age 15-49)  with 10 or more years of schooling (%)  \
60                                              61.13
61                                              40.72
62                                              50.44
63                                              60.04
64                                              40.60

    Men (age 15-49)  with 10 or more years of schooling (%)
60                                              68.28
61                                              54.27
62                                              61.00
63                                              66.87
64                                              52.74
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
65          65    Manipur  Total                                    87.62
66          66  Meghalaya  Urban                                    97.05
67          67  Meghalaya  Rural                                    85.53
68          68  Meghalaya  Total                                    88.17
69          69    Mizoram  Urban                                    99.14

    Men (age 15-49) who are literate4 (%)  \
65                                  95.24
66                                  92.90
67                                  81.52
68                                  83.72
69                                  99.24

    Women (age 15-49)  with 10 or more years of schooling (%)  \
65                                              48.08
66                                              61.38
67                                              27.34
68                                              35.13
69                                              62.33

    Men (age 15-49)  with 10 or more years of schooling (%)
65                                              58.74
66                                              63.94
67                                              27.69
68                                              34.70

In [40]:
for df in pd.read_csv('modified.csv',chunksize=5):
    print('CHUNK DF')
    print(df)

CHUNK DF
   Unnamed: 0                 States/UTs   Area  \
0           0                      India  Urban
1           1                      India  Rural
2           2                      India  Total
3           3  Andaman & Nicobar Islands  Urban
4           4  Andaman & Nicobar Islands  Rural

   Women (age 15-49) who are literate4 (%)  \
0                                    83.01
1                                    65.90
2                                    71.46
3                                    86.55
4                                    85.58

   Men (age 15-49) who are literate4 (%)  \
0                                  89.55
1                                  81.54
2                                  84.37
3                                  89.27
4                                  94.65

   Women (age 15-49)  with 10 or more years of schooling (%)  \
0                                              56.28
1                                              33.70
2                                              41.04
3                                              59.71
4                                              47.57

   Men (age 15-49)  with 10 or more years of schooling (%)
0                                              62.11
1                                              43.72
2                                              50.21
3                                              59.41
4                                              47.65
CHUNK DF
   Unnamed: 0                 States/UTs   Area  \
5           5  Andaman & Nicobar Islands  Total
6           6             Andhra Pradesh  Urban
7           7             Andhra Pradesh  Rural
8           8             Andhra Pradesh  Total
9           9          Arunachal Pradesh  Urban

   Women (age 15-49) who are literate4 (%)  \
5                                    85.97
6                                    79.01
7                                    63.84
8                                    68.64
9                                    84.65

   Men (age 15-49) who are literate4 (%)  \
5                                  92.53
6                                  86.40
7                                  76.28
8                                  79.48
9                                  92.13

   Women (age 15-49)  with 10 or more years of schooling (%)  \
5                                              52.47
6                                              51.20
7                                              34.28
8                                              39.63
9                                              55.39

   Men (age 15-49)  with 10 or more years of schooling (%)
5                                              52.28
6                                              59.54
7                                              42.54
8                                              47.91
9                                              64.12
CHUNK DF
    Unnamed: 0         States/UTs   Area  \
10          10  Arunachal Pradesh  Rural
11          11  Arunachal Pradesh  Total
12          12              Assam  Urban
13          13              Assam  Rural
14          14              Assam  Total

    Women (age 15-49) who are literate4 (%)  \
10                                    71.63
11                                    73.78
12                                    87.47
13                                    75.39
14                                    77.20

    Men (age 15-49) who are literate4 (%)  \
10                                  85.60
11                                  86.69
12                                  92.62
13                                  82.76
14                                  84.31

    Women (age 15-49)  with 10 or more years of schooling (%)  \
10                                              36.19
11                                              39.36
12                                              49.02
13                                              26.15
14                                              29.57

    Men (age 15-49)  with 10 or more years of schooling (%)
10                                              44.97
11                                              48.18
12                                              53.24
13                                              32.15
14                                              35.46
CHUNK DF
    Unnamed: 0  States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
15          15       Bihar  Urban                                    74.93
16          16       Bihar  Rural                                    54.54
17          17       Bihar  Total                                    57.78
18          18  Chandigarh  Urban                                    83.10
19          19  Chandigarh  Rural                                   -69.23

   Men (age 15-49) who are literate4 (%)  \
15                                 83.95
16                                 77.01
17                                  78.5
18                                  94.8
19                                     *

    Women (age 15-49)  with 10 or more years of schooling (%)  \
15                                              47.99
16                                              25.21
17                                              28.83
18                                              59.91
19                                             -30.77

   Men (age 15-49)  with 10 or more years of schooling (%)
15                                              57.11
16                                               38.9
17                                               42.8
18                                              64.48
19                                                  *
CHUNK DF
    Unnamed: 0                              States/UTs   Area  \
20          20                              Chandigarh  Total
21          21                            Chhattisgarh  Urban
22          22                            Chhattisgarh  Rural
23          23                            Chhattisgarh  Total
24          24  Dadra and Nagar Haveli & Daman and Diu  Urban

    Women (age 15-49) who are literate4 (%)  \
20                                    82.96
21                                    85.26
22                                    71.30
23                                    74.62
24                                    87.69

    Men (age 15-49) who are literate4 (%)  \
20                                  94.80
21                                  90.27
22                                  86.33
23                                  87.26
24                                  95.44

    Women (age 15-49)  with 10 or more years of schooling (%)  \
20                                              59.61
21                                              52.39
22                                              32.05
23                                              36.89
24                                              48.60

    Men (age 15-49)  with 10 or more years of schooling (%)
20                                              64.48
21                                              52.19
22                                              38.14
23                                              41.45
24                                              58.77
CHUNK DF
    Unnamed: 0                              States/UTs   Area  \
25          25  Dadra and Nagar Haveli & Daman and Diu  Rural
26          26  Dadra and Nagar Haveli & Daman and Diu  Total
27          27                                     Goa  Urban
28          28                                     Goa  Rural
29          29                                     Goa  Total

    Women (age 15-49) who are literate4 (%)  \
25                                    67.90
26                                    77.26
27                                    92.64
28                                    93.43
29                                    92.96

    Men (age 15-49) who are literate4 (%)  \
25                                  91.56
26                                  93.43
27                                  94.93
28                                  98.50
29                                  96.25

    Women (age 15-49)  with 10 or more years of schooling (%)  \
25                                              24.22
26                                              35.75
27                                              73.01
28                                              69.31
29                                              71.50

    Men (age 15-49)  with 10 or more years of schooling (%)
25                                              40.66
26                                              49.40
27                                              74.96
28                                              79.39
29                                              76.59
CHUNK DF
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
30          30    Gujarat  Urban                                    86.83
31          31    Gujarat  Rural                                    69.03
32          32    Gujarat  Total                                    76.45
33          33    Haryana  Urban                                    87.42
34          34    Haryana  Rural                                    78.75

    Men (age 15-49) who are literate4 (%)  \
30                                  95.40
31                                  87.49
32                                  90.91
33                                  94.46
34                                  93.01

    Women (age 15-49)  with 10 or more years of schooling (%)  \
30                                              47.91
31                                              23.63
32                                              33.76
33                                              60.12
34                                              44.14

    Men (age 15-49)  with 10 or more years of schooling (%)
30                                              56.93
31                                              36.91
32                                              45.57
33                                              65.01
34                                              60.75
CHUNK DF
    Unnamed: 0        States/UTs   Area  \
35          35           Haryana  Total
36          36  Himachal Pradesh  Urban
37          37  Himachal Pradesh  Rural
38          38  Himachal Pradesh  Total
39          39   Jammu & Kashmir  Urban

    Women (age 15-49) who are literate4 (%)  \
35                                    81.67
36                                    95.01
37                                    91.23
38                                    91.73
39                                    84.32

    Men (age 15-49) who are literate4 (%)  \
35                                  93.48
36                                  91.68
37                                  95.44
38                                  94.91
39                                  91.77

    Women (age 15-49)  with 10 or more years of schooling (%)  \
35                                              49.53
36                                              79.78
37                                              63.78
38                                              65.89
39                                              65.11

    Men (age 15-49)  with 10 or more years of schooling (%)
35                                              62.15
36                                              78.69
37                                              70.09
38                                              71.31
39                                              73.84
CHUNK DF
    Unnamed: 0       States/UTs   Area  \
40          40  Jammu & Kashmir  Rural
41          41  Jammu & Kashmir  Total
42          42        Jharkhand  Urban
43          43        Jharkhand  Rural
44          44        Jharkhand  Total

    Women (age 15-49) who are literate4 (%)  \
40                                    74.71
41                                    77.27
42                                    82.37
43                                    59.34
44                                    65.01

    Men (age 15-49) who are literate4 (%)  \
40                                  91.42
41                                  91.52
42                                  94.12
43                                  80.26
44                                  84.00

    Women (age 15-49)  with 10 or more years of schooling (%)  \
40                                              46.22
41                                              51.25
42                                              54.40
43                                              26.29
44                                              33.22

    Men (age 15-49)  with 10 or more years of schooling (%)
40                                              66.04
41                                              68.21
42                                              66.15
43                                              39.39
44                                              46.60
CHUNK DF
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
45          45  Karnataka  Urban                                    85.09
46          46  Karnataka  Rural                                    70.95
47          47  Karnataka  Total                                    76.69
48          48     Kerala  Urban                                    99.13
49          49     Kerala  Rural                                    97.47

    Men (age 15-49) who are literate4 (%)  \
45                                  90.48
46                                  87.03
47                                  88.47
48                                  99.17
49                                  97.39

    Women (age 15-49)  with 10 or more years of schooling (%)  \
45                                              62.30
46                                              41.97
47                                              50.22
48                                              78.78
49                                              75.29

    Men (age 15-49)  with 10 or more years of schooling (%)
45                                              64.79
46                                              50.64
47                                              56.54
48                                              76.83
49                                              70.18
CHUNK DF
    Unnamed: 0   States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
50          50       Kerala  Total                                    98.27
51          51       Ladakh  Urban                                    77.65
52          52       Ladakh  Rural                                    76.60
53          53       Ladakh  Total                                    76.80
54          54  Lakshadweep  Urban                                    96.40

    Men (age 15-49) who are literate4 (%)  \
50                                  98.21
51                                  91.87
52                                  94.17
53                                  93.73
54                                 100.00

    Women (age 15-49)  with 10 or more years of schooling (%)  \
50                                              76.97
51                                              53.79
52                                              49.16
53                                              50.04
54                                              68.24

    Men (age 15-49)  with 10 or more years of schooling (%)
50                                              73.25
51                                              64.10
52                                              74.76
53                                              72.71
54                                              84.92
CHUNK DF
    Unnamed: 0      States/UTs   Area  \
55          55     Lakshadweep  Rural
56          56     Lakshadweep  Total
57          57  Madhya Pradesh  Urban
58          58  Madhya Pradesh  Rural
59          59  Madhya Pradesh  Total

    Women (age 15-49) who are literate4 (%)  \
55                                    96.82
56                                    96.50
57                                    83.32
58                                    63.30
59                                    68.85

    Men (age 15-49) who are literate4 (%)  \
55                                 -96.32
56                                  99.05
57                                  92.34
58                                  82.62
59                                  85.27

    Women (age 15-49)  with 10 or more years of schooling (%)  \
55                                              66.28
56                                              67.79
57                                              49.06
58                                              21.71
59                                              29.29

    Men (age 15-49)  with 10 or more years of schooling (%)
55                                             -69.41
56                                              80.92
57                                              53.12
58                                              34.97
59                                              39.93
CHUNK DF
    Unnamed: 0  States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
60          60  Maharastra  Urban                                    90.17
61          61  Maharastra  Rural                                    79.51
62          62  Maharastra  Total                                    84.58
63          63     Manipur  Urban                                    92.05
64          64     Manipur  Rural                                    84.84

    Men (age 15-49) who are literate4 (%)  \
60                                  94.59
61                                  91.48
62                                  92.97
63                                  96.89
64                                  94.03

    Women (age 15-49)  with 10 or more years of schooling (%)  \
60                                              61.13
61                                              40.72
62                                              50.44
63                                              60.04
64                                              40.60

    Men (age 15-49)  with 10 or more years of schooling (%)
60                                              68.28
61                                              54.27
62                                              61.00
63                                              66.87
64                                              52.74
CHUNK DF
    Unnamed: 0 States/UTs   Area  Women (age 15-49) who are literate4 (%)  \
65          65    Manipur  Total                                    87.62
66          66  Meghalaya  Urban                                    97.05
67          67  Meghalaya  Rural                                    85.53
68          68  Meghalaya  Total                                    88.17
69          69    Mizoram  Urban                                    99.14

    Men (age 15-49) who are literate4 (%)  \
65                                  95.24
66                                  92.90
67                                  81.52
68                                  83.72
69                                  99.24

    Women (age 15-49)  with 10 or more years of schooling (%)  \
65                                              48.08
66                                              61.38
67                                              27.34
68                                              35.13
69                                              62.33

    Men (age 15-49)  with 10 or more years of schooling (%)
65                                              58.74
66                                              63.94